---
layout: page
title: Training for body-type
header: Posts By Tag
group: navigation
---

사람들 각자에게는 자신에게 맞는 체형 별 운동방법 및 훈련방법에 차이가 있습니다. 기본적으로 사람들의 체형은 3가지로
나뉘게 됩니다. 외배엽형, 중배엽형, 내배엽형과 같이 말이죠.보통 어깨가 좁고, 마르고 외소한 체형이 외배엽 형 이고, 
근육이 다른 사람들 보다 잘 생기며, 골격이 좋고 어깨가 벌어진 체형이 중배엽 형 입니다. 그리고 지방이 많고 체형이 크
며 둥글둥글 한 이미지를 가지고 있는 것이 내배엽 형 입니다. 그럼 각 챕터에 따라 운동방법을 알아봅시다.
{% include JB/setup %}

{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}
